#booktable {
    width: 500px;
}

#bookInfo {
    background: white;
    width: 400px;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;
    margin: 0;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#addbook {
    width: 100px;
    height: 35px;
    outline-style: initial;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.completed {
    border-style: none;
    background-color: #87DE87;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
}

.inprogress {
    border-style: none;
    background-color: #fcd703;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
}

#mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    display: none;
}

.editmode {
    border-style: none;
    background-color: #196885;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    transform: translate(-50%, +130px);
}

th {
    background-color: #e6e6e6;
    text-align: left;
    padding: 5px;
}

td {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 7px;
    border-color: #e6e6e6;
}

#header {
    background-color: rgb(37, 150, 190);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

#headertext {
    margin: 10px;
}

.normal {
    border-style: none;
    background-color: rgb(37, 150, 190);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}